.contact {
    padding-top: 120px;
    padding-bottom: 91px;
    &__wrapper {
        display: grid;
        grid-template-columns: 400px 585px;
        grid-auto-rows: auto;
        column-gap: 70px;
        justify-content: center;
    }
    &__photo{
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info {
        padding-top: 6px;
        &-title {
            position: relative;
            padding-left: 15px;
            @include before_circle;
            &:before {
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &-anyway {
            margin-top: 20px;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
        }
        &-social {
            margin-top: 20px;
            width: 130px;
            display: flex;
            justify-content: space-between;
        }
        &-link:nth-child(1):hover {
            svg{
                transform: scale(1.4);
                transition: .6s all;
                path{
                    fill: lightblue;
                    transition: .6s all;
                }
            }
        }
        &-link:nth-child(2):hover {
            svg{
                transform: scale(1.4);
                transition: .6s all;
                path{
                    fill: blue;
                    transition: .6s all;
                }
            }
        }
        &-link:nth-child(3):hover {
            svg{
                transform: scale(1.4);
                transition: .6s all;
                path{
                    fill: red;
                    transition: .6s all;
                }
            }
        }
        &-leave {
            margin-top: 20px;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
        }
        &-form {
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(2, 260px);
            grid-template-rows: 45px 190px 45px;
            grid-auto-rows: auto;
            column-gap: 25px;
            row-gap: 30px;
        }
        &-text {
            position: relative;
            grid-column: 1/3;
            textarea {
                padding: 20px;
                width: 100%;
                height: 100%;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: #000000;
                resize: none;
                outline: none;
                &:focus {
                    border: 2px solid $main-color;
                }
            }
            label {
                position: absolute;
                display: block;
                padding: 0 8px;
                top: -9px;
                left: 12px;
                height: 18px;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: #000000;
                background-color: #fff;
            }
        }
        &-input {
            position: relative;
            input {
                padding: 0 20px;
                width: 100%;
                height: 100%;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: #000000;
                outline: none;
                &:focus {
                    border: 2px solid $main-color;
                }
            }
            label {
                position: absolute;
                display: block;
                padding: 0 8px;
                top: -9px;
                left: 12px;
                height: 18px;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: #000000;
                background-color: #fff;
            }
        }
        &-submit {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
        }
        &-triggers {
            grid-column: 1/3;
            display: grid;
            grid-template-columns: repeat(2, auto);
            column-gap: 35px;
        }
        &-policy {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
            input {
                margin-right: 10px;
            }
            span {
                padding-top: 3px;
            }
        }
    }
}