@media (max-width: 1440px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 960px;
    }

    .promo{
        padding-top: 170px;
        &__title {
            font-size: 40px;
            line-height: 60px;
        }
        &__subtitle {
            font-size: 15px;
            line-height: 27px;
        }
        &__btns {
            margin-top: 34px;
            width: 260px;
            .btn {
                padding: 9px 14px;
            }
        }
    }
    .menu {
        &__block {
            width: 300px;
            padding-top: 100px;
        }
        &__link {
            display: block;
            font-size: 20px;
            line-height: 29px;
            margin-bottom: 12px;
            &::before{
                top: 7px;
                width: 13px;
                height: 13px;
            }
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 510px;
            column-gap: 50px;
            row-gap: 30px;
        }
        &__skills {
            grid-template-columns: repeat(2,247px);
            column-gap: 16px;
            row-gap: 16px;
        }
    }
    .experience {
        &__wrapper {
            grid-template-columns: repeat(2,437px);
            column-gap: 85px;
        }
    }
    .skill-rate {
        &__wrapper {
            grid-template-columns: repeat(3,290px);
        }
    }
    .contact {
        &__wrapper {
            grid-template-columns: 400px 490px;
            column-gap: 50px;
        }
        &__info {
            &-form {
                grid-template-columns: repeat(2,232px);
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .promo{
        padding-top: 130px;
        &__subtitle {
            font-size: 14px;
            line-height: 27px;
        }
        &__title {
            font-size: 32px;
            line-height: 50px;
        }
        &__btns {
            margin-top: 30px;
            width: 240px;
            .btn {
                height: 40px;
                padding: 8px 14px;
            }
        }
        &__link {
            font-size: 16px;
        }
        .hamburger {
            width: 32px;
            height: 16px;
            span {
                width: 25px;
                height: 2px;
            }
            span.long {
                width: 32px;
            }
        }
    }
    .menu {
        &__block {
            width: 275px;
            padding-top: 78px;
            .close {
                svg {
                    width: 22px;
                    height: 22px;
                }
            }
        }
        &__list {
            padding-left: 20px;
        }
        &__link {
            display: block;
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 10px;
            padding-left: 35px;
            cursor: pointer;
            &:before {
                top: 7px;
                left: 5px;
                width: 11px;
                height: 11px;
            }
        }

    }
    .about {
        padding-top: 90px;
        &__wrapper {
            grid-template-columns: 380px 290px;
        }
        &__subtitle {
            font-size: 31px;
            line-height: 55px;
        }
        &__text {
            font-size: 12px;
            line-height: 19px;
        }
        &__skills {
            grid-template-columns: 288px;
            grid-auto-rows: minmax(116px, auto);
        }
        &__skill {
            &-text {
                font-size: 11px;
                line-height: 17px;
            }
            .title_fz14 {
                font-size: 13px;
                line-height: 19px;
            }
        }
    }
    .experience {
        padding-top: 100px;
        &__wrapper {
            grid-template-columns: repeat(2,329px);
            column-gap: 60px;
            &-head {
                grid-template-columns: 45px 220px;
                grid-template-rows: minmax(57px, auto)
            }
            &-icon {
                &::after {
                    top: 32%;
                }
            }
        }
        
    }
    .skill {
        &__wrapper {
            grid-template-columns: repeat(2,270px);
        }
    }
    .skill-rate {
        &__wrapper {
            grid-template-columns: repeat(2,337px);
            grid-template-rows: minmax(70px, auto);
            row-gap: 27px;
            justify-content: center;
        } 
    }
    .price {
        &__wrapper{
            padding-left: 0;
            padding-right: 0;
            grid-template-columns: repeat(auto-fit, 345px);
        }
    }
    .contact {
        &__wrapper {
            grid-template-columns: 337px 332px;
        }
        &__info {
            .title_fz36 {
                font-size: 28px;
            }
            &-form {
                grid-template-columns: 328px;
                grid-template-rows: 45px 45px 100px;
                grid-auto-rows: auto;
            }
            &-text {
                grid-column: unset;
            }   
            &-triggers {
                grid-template-columns: auto;
                grid-column: unset;
                row-gap: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .about {
        padding-top: 50px;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 500px auto auto;
        }
        &__photo {
            grid-row: unset;
        }
        &__subtitle {
            font-size: 36px;
            line-height: 64px;
        }
        &__text {
            font-size: 14px;
            line-height: 22px;
        }
        &__skills {
            grid-template-columns: repeat(2,261px);
        }
        &__skill {
            &-text {
                font-size: 12px;
                line-height: 19px;
            }
            .title_fz14 {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    .experience {
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            row-gap: 45px;
            &-head {
                grid-template-columns: 45px 1fr;
            }
            &-descr {
                .title_fz14 {
                    font-size: 15px
                }
            }
            &-body {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
    .skill {
        &__wrapper {
            gap: 5px;
        }
    }
    .skill-rate {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            row-gap: 40px;
        } 
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(2,265px);
        }
    }
    .price {
        &__wrapper {
            justify-content: center;
            row-gap: 20px;
        }
    }
    .contact {
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: repeat(auto-fit,400px);
        }
        &__info {
            &-form {
                grid-template-columns: 400px;
                grid-template-rows: 45px 45px 190px;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .promo {
        &__subtitle {
            font-size: 13px;
            line-height: 27px;
        }
        &__title {
            width: 300px;
            font-size: 24px;
            line-height: 39px;
        }
    }
    .menu {
        &__block {
            width: 250px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template-rows: 340px auto auto;
        }
        &__subtitle {
            font-size: 28px;
            line-height: 56px;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
        &__skill {
            &-text {
                padding-right: 20px;
            }
        }
    }
    .experience {
        padding-top: 40px;
        &__subtitle {
            font-size: 24px;
        }
        .divider {
            margin-top: 15px;
        }
    }
    .skill {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns:270px;
            gap: 20px;
        }
        &__subtitle {
            margin-top: 25px;
            font-size: 24px;
            line-height: 36px;
        }
    }
    .portfolio {
        padding-top: 40px;
        &__subtitle {
            font-size: 24px;
        }
        .divider {
            margin-top: 15px;
        }
        &__wrapper {
            margin-top: 40px;
            grid-template-columns: 280px;
            grid-template-rows: repeat(3,minmax(280px,auto));
            gap: 20px;
            &-link {
                &:nth-child(3){
                    grid-column: unset;
                }
            }
        }  
    }
    .price {
        padding-top: 40px;
        &__wrapper {
            margin-top: 20px;
            grid-template-columns: repeat(auto-fit,281px);
            &-item {
                grid-template-columns: 167px 89px;
                .title_fz16 {
                    font-size: 14px;
                }
            }
        }
    }
    .contact {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: repeat(auto-fit,300px);
        }
        &__info {
            .title_fz36 {
                font-size: 24px;
            }
            &-form {
                grid-template-columns: 300px;
            }
            &-submit {
                width: 220px;
                order: 2;
                margin: 0 auto;                
            }
            &-policy {
                width: 180px;
                margin: 0 auto;
            }
        }
    }
}