.portfolio {
    padding-top: 120px;
    &__title {
        text-align: center;
        position: relative;
        @include before_circle;
        &:before {
            left: 50%;
            transform: translate(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    .divider {
        margin: 0 auto;
        margin-top: 25px;
    }
    &__wrapper{
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: repeat(2, minmax(1fr, auto));
        justify-content: center;
        gap: 10px;
        &-link {
            display: block;
            &:nth-child(3){
                grid-column: 1/3;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .3s all;
                &:hover {
                    filter: drop-shadow(7px 7px 9px $main-color);
                    transform: scale(1.2);
                }
            }
        }
            
    }
}