.skill-rate{
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-auto-rows: auto;
        column-gap: 45px;
        &-item {
            display: grid;
            grid-template-columns: 182px 40px;
            grid-auto-rows: auto;
            justify-content: space-between;
            align-items: center;
        }
        &-title {
            padding-left: 13px;
            position: relative;
            @include before_circle;
            &::before {
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &-diag {
            margin-top: 20px;
            grid-column: 1/3;
            width: 100%;
            height: 14px;
            background: #E8E4DE;
            border-radius: 4px;
        }
        &-fill {
            height: 14px;
            background: $main-color;
        }
    }

}